.model-temp .readings {
	justify-content: space-evenly;
}

.model-temp .tile .readings {
	font-size: small;
}

.model-temp .reading {
	align-items: baseline;
}

.model-temp #temp,#hum {
	font-size: xxx-large;
}

.model-temp .tile #temp, .tile #hum {
	font-size: xx-large;
}

.model-temp .box {
	border-radius: 10px;
	padding: 10px;
	background: #e9e9af;
	border-style: inset;
}

.model-temp .tile .box {
	background: transparent;
	border-style: none;
	justify-content: space-between;
}

.model-temp .tile-body {
	background: #e9e9af;
}

.model-temp .chart {
	height: 300px;
}
