			<div class="divFlexCol readings">
				<div class="divFlexRow box">
					<span>temp</span>
					<div class="divFlexRow reading">
						<span id="temp">__._</span>
						<span>&deg;C</span>
					</div>
				</div>
				<hr>
				<div class="divFlexRow box">
					<span>humidity</span>
					<div class="divFlexRow reading">
						<span id="hum">__._</span>
						<span>%</span>
					</div>
				</div>
			</div>
